.container1 {
    display:flex;
    height:30%;
    width:100%;
    background-color: grey;
    flex-wrap: wrap;
    grid-template-columns:4;
}
.text {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-left:100px;
}
.text i{
    margin-right:20px;
    color:orangered;
    font-size:x-large;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    margin-left: 4%;
    display: flex;
    gap: 153px;
    text-transform: capitalize;
    color:black;
}
nav button{
    color:white;
    background-color:orangered;
    margin-left: 4%;
}
nav ul li select {
    width: 72px;
}
.drop-down1{
    margin-left: 47px;
    background-color: rgb(240, 230, 230);
    color:orangered;
    /* border-color: black; */
}
.blog img {
    width: 100%;
    height: 500px;
    filter: brightness(0.50);
}
.blog {
    position: relative;
}
.blog-text {
    position: absolute;
    bottom: 214px;
    color: white;
    left: 200px;
    font-size: x-large;
}
.blog-text h1 {
    font-size: 60px;
}
.blog-text button {
    background-color: orangered;
    color:white;
}
/* .cards{
    display:flex;
    justify-content: center;
}
.card0 img{
    display:flex;
    position:relative;
    height:400px;
    margin:50px 30px;
}   
.card-text0  {
    position:absolute;
    color:white;
}
.card1 img{
    /* display:flex; */
    /* position:relative;
    height:400px;
    margin:50px 30px;
}   
.card-text1 { */
    /* position:absolute; */


    /* display:flex; */
    /* position:relative;
    height:400px;
    width:20%;
    background-color: rgb(16, 16, 42);
    margin:50px 30px;
}   
.card-text3 {
    position:absolute;
} */ 
.blog{
    display:flex;   
}
.blog img{
    height:300px;
    width:300px;
}